<div class="container">
  <%= link_to "Add a plane", new_plane_path %>
  <h1> List of my planes </h1>
  <ul>
    <% @planes.each do |plane| %>
    <li>
      <%= plane.id %> - <%= link_to plane.name.to_s, plane_path(plane) %>
      <% if policy(plane).edit? %>
        <%= link_to "Update", edit_plane_path(plane) %>
      <% end %>
      <% if policy(plane).destroy? %>
        <%= link_to "Delete", plane_path(plane), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
