<div class="container">
  <%= link_to "Add a plane", new_plane_path %>
  <h1> My planes </h1>
  <div class="row">
    <div class="cards">
      <% @planes.each do |plane| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <ul class="list-unstyled">
            <li>
              <div><%= link_to plane.name.to_s, plane_path(plane) %></div>
              <div><%= plane.id %></div>
              <div class="font-italic">
                <% if policy(plane).edit? %>
                  <%= link_to "Update", edit_plane_path(plane) %>
                <% end %>
              </div>
              <div class="font-italic">
                <% if policy(plane).destroy? %>
                  <%= link_to "Delete", plane_path(plane), method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>  
      <% end %>
    </div>
  </div>
</div>
