<div class="container">
  <%= simple_form_for @plane do |f| %>
    <%= f.input :type %>
    <%= f.input :location %>
    <%= f.input :capacity %>
    <%= f.input :price_per_day %>
    <%= f.submit %>
  <% end %>
</div>
