<div class="container">
  <h1> <%= @plane.name %></h1>
  <ul>
    <li><%= @plane.id %></li>
    <li><%= @plane.capacity %></li>
    <li><%= @plane.location %></li>
    <li><%= @plane.price_per_day %></li>
  </ul>
  <div>
  <% if policy(@plane).edit? %>
    <%= link_to "Update", edit_plane_path(@plane) %>
  <% end %>
  <% if policy(@plane).destroy? %>
    <%= link_to "Delete", plane_path(@plane), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  </div>
  <hr>
  <%= link_to "Back to all planes", planes_path %>
</div>
